@model CatStroll.Models.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.NeighborhoodId)*@
            Neighborhood
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div class="row">
    @foreach (Cat cat in Model.Cats)
    {
        <div class="card m-4" style="width: 18rem;">
            @if (String.IsNullOrEmpty(cat.ImageUrl))
            {
                <img src="https://play-lh.googleusercontent.com/XVHP0sBKrRJYZq_dB1RalwSmx5TcYYRRfYMFO18jgNAnxHAIA1osxM55XHYTb3LpkV8"
                     class="card-img-top"
                     alt="Cat" />
            }
            else
            {
                <img src="@cat.ImageUrl" class="card-img-top" alt="Cat staring" />
            }
            <div class="card-body">
                <div>
                    <label class="font-weight-bold">Name:</label>
                    <span>@cat.Name</span>
                </div>
                <div>
                    <label class="font-weight-bold">Breed:</label>
                    <span>@cat.Breed</span>
                </div>
                <div>
                    <label class="font-weight-bold">Notes:</label>
                    <p>@cat.Notes</p>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
